@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.swiper-slide {
  transition: scale 0.3s !important;
}
.swiper-slide-active {
  scale: 1;
}
.swiper-slide-prev {
  scale: 0.85;
}
.swiper-slide-next {
  scale: 0.85;
}
